.grid-container {
  max-width: 960px;
  min-width: 960px;
  min-height: 960px;
  max-height: 960px;

  width: 960px;
  height: 960px;

  background-color: rgb(255, 126, 225);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  flex: 1 1 0;

  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
}

.cell {
  flex: 1 1 0;
  border: 2px solid black;
  background-color: rgb(137, 36, 113);
}
